<div class='form-login form'>
    <h2>Login</h2>
    <input type='text' placeholder='Username'>
    <input type='password' placeholder='Password'>
    <input type='button' value='SUBMIT' onclick="submitLogin()">
    <a href='/register'>Create account</a>
</div>

<script src="js/auth.js"></script>