<div class='form-register form'>
    <h2>Register</h2>
    <input type='text' placeholder='Username'>
    <input type='password' placeholder='Password'>
    <input type='button' value='SUBMIT' onclick="submitRegister()">
    <a href='/login'>Login to account</a>
</div>

<script src="js/auth.js"></script>